{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="container p-4 mx-auto">
            <h1 class="mb-4 text-2xl font-bold">{{ crypto.name }}</h1>
            <h2 class="mb-4 text-2xl font-semibold">€ {{ crypto.current_price }}</h2>
            <form method="post" class="max-w-xs" id="buyCryptoForm">
                {% csrf_token %}
                <div class="mb-4 text-gray-500">
                    <input type="hidden" id="id_crypto_id" name="crypto_id" value="{{ crypto.id }}">
                    <label for="id_amount" class="block mb-2 font-semibold">Amount:</label>
                    <input type="{{ form.amount.field.widget.input_type }}" id="id_amount" name="{{ form.amount.html_name }}" step="any" class="font-bold text-gray-800 bg-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-200 form-input">
                </div>
                <button type="submit" class="px-4 py-2 font-bold text-white bg-green-600 rounded hover:bg-green-700">
                    Add {{ crypto.formatted_symbol }} to your shopping bag.
                </button>
            </form>
        </div>
       

{% endblock content %}