{% extends '../base.html' %}
{% block content %}

<h5 class="px-4 pt-4 text-xl font-bold text-gray-400 md:text-2xl">Cryptocurrencies</h5>
{% if user.is_superuser %}
<div class="px-8 pt-4">    
    <a class="px-4 py-2 text-xs font-bold text-gray-800 bg-gray-200 rounded-lg md:text" href="{% url 'add_crypto' %}">ADD CRYPTO</a>
</div>
{% endif %}
<div class="px-4 mt-2 md:px-0">
    <table class="w-full shrink">
        <thead class="border-b border-gray-100 dark:border-gray-700">
            <tr>
                <th class="px-2 py-2 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:px-4 md:text-2xl"><div class="">Symbol</div></th>
                <th class="px-2 py-2 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="">Price €</div></th>
                <th class="px-2 py-2 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="">M Cap</div></th>
                <th class="px-2 py-2 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="hidden md:flex">Volume</div></th>
                <th class="px-2 py-2 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="">Daily</div></th>
                <th class="px-2 py-2 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="hidden md:flex">Updated</div></th>
                {% if user.is_superuser %}
                <th class="px-2 py-2 text-sm font-semibold text-left bg-transparent dark:text-gray-200 md:text-2xl"><div class="hidden md:flex">ADMIN</div></th>
                {% endif %}

            </tr>
        </thead>
        <tbody class="shrink">
            {% for crypto in page_obj %}
            <tr class="cursor-pointer" onclick="location.href='{% url 'coin' pk=crypto.id %}'">
                <td class="px-4 py-3 font-medium border-b border-gray-4 dark:border-gray-700 ">
                    <div class="flex items-start">
                        <div class="flex flex-col items-center justify-center md:px-4">
                            <div class="py-0.5">
                                <img class="w-10 h-10" src="{{ crypto.image }}" alt="{{crypto.name}} Logo" />
                            </div>
                            <div class="text-xs text-gray-800 md:text-1xl dark:text-gray-200">
                                {{ crypto.formatted_symbol }}
                            </div>
                        </div>
                    </div>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-4 dark:border-gray-700 min-w-fit">
                    <h5 class="text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200">{{ crypto.formatted_current_price }}</h5>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    <h5 class="text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200">{{ crypto.formatted_market_cap }}</h5>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    <h5 class="hidden text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200 md:flex">{{ crypto.formatted_total_volume }}</h5>
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    {% if crypto.integer_24h_change > 0 %}
                    <div class="text-green-600">
                        <h5 class="text-sm tracking-tight md:text-1xl">
                            +{{ crypto.formatted_price_change_24h }}% 
                        </h5>
                    </div>
                    {% elif crypto.integer_24h_change < 0 %}
                    <div class="text-red-500">    
                        <h5 class="text-sm tracking-tight md:text-1xl ">
                            {{ crypto.formatted_price_change_24h }}%
                        </h5>
                    </div>
                    {% else %}
                    <h5 class="text-sm tracking-tight md:text-1xl dark:text-gray-200">
                        {{ crypto.formatted_price_change_24h }}
                    </h5>
                    {% endif %}
                </td>
            
                <td class="px-4 py-3 font-medium border-b border-gray-100 dark:border-gray-700">
                    <h5 class="hidden text-sm tracking-tight text-gray-800 md:text-1xl dark:text-gray-200 md:flex">{{ crypto.formatted_last_updated }}</h5>
                </td>
                {% if user.is_superuser %}
                <td class="px-4 py-3 space-x-2 font-medium border-b border-gray-100 dark:border-gray-700">
                    <a href="{% url 'edit_crypto' crypto_id=crypto.id %}" class="px-4 py-2 text-xs font-bold text-gray-800 bg-gray-200 rounded-lg md:bg-neutral-50 md:text">
                        Edit
                    </a>
                    <a href="{% url 'delete_crypto' crypto_id=crypto.id %}" class="px-4 py-2 text-xs font-bold text-gray-800 bg-red-500 rounded-lg md:bg-neutral-50 md:text">
                        Delete
                    </a> 
                </td>
                {% endif %}
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
        <div class="-mt-px flex w-0 flex-1">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
            <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
            </svg>
            Previous
          </a>
        {% endif %}
        </div>
        <div class="hidden md:-mt-px md:flex">
            {% for page_num in page_numbers %}
                <a href="?page={{page_num}}" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">{{ page_num }}</a>
            {% endfor %}
        </div>
        <div class="-mt-px flex w-0 flex-1 justify-end">
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                Next
                <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
                </svg>
            </a>
        {% endif %}
        </div>
      </nav>
</div>
{% endblock %}